# --- Основний фреймворк для Telegram-бота ---
aiogram

# --- Робота з базою даних (PostgreSQL + SQLite) ---
SQLAlchemy      # ORM для взаємодії з БД
asyncpg         # Асинхронний драйвер для PostgreSQL
psycopg2-binary # Синхронний драйвер для PostgreSQL (для Alembic)
aiosqlite       # Асинхронний драйвер для SQLite (ЛОКАЛЬНА РОЗРОБКА)
alembic         # Інструмент для міграцій схеми бази даних

# --- Робота з даними та файлами ---
pandas           # Аналіз даних, використовується для роботи з Excel
openpyxl         # Читання та запис .xlsx файлів для Pandas
aiofiles         # Асинхронна робота з файлами
odfpy            # Підтримка файлів .ods (LibreOffice)

# --- Нечіткий пошук ---
thefuzz          # Бібліотека для нечіткого порівняння рядків

# --- Планувальник фонових завдань ---
apscheduler      # Виконання завдань за розкладом

# --- Конфігурація та змінні оточення ---
python-dotenv    # Завантаження змінних з .env файлу

# --- Допоміжні та залежності залежностей ---
aiohttp
aiosignal
annotated-types
async-timeout
attrs
cachetools
certifi
charset-normalizer
et_xmlfile
frozenlist
greenlet
idna
magic-filter
multidict
numpy
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
requests
six
StrEnum
typing_extensions
tzdata
urllib3
yarl